# =========================
# Backend (Laravel)
# =========================
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key

# =========================
# Frontend (React)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Systemfiler
# =========================
.DS_Store